body {
    font-family: Arial;
    padding: 20px;
    background: #f0f0f0;
    text-align: center;
}
form {
    background: #fff;
    padding: 20px;
    margin: auto;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px #aaa;
}
input {
    width: 90%;
    margin: 10px 0;
    padding: 10px;
}
button {
    padding: 10px 20px;
    background-color: dodgerblue;
    color: white;
    border: none;
    border-radius: 5px;
}